/* ealmonte */

body {
  color: white;
  font-family: hosted-ubuntu-mono, Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 15px;
  line-height:1.4;
}

/* add Roboto font */
@font-face {
    font-family: 'hosted-ubuntu-mono';
    src: url('font/hosted-ubuntu-mono.ttf') format('truetype');
}

/*use for all elements */
* {
  box-sizing: border-box;
}
